<?xml version ="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalloglevel="Info"
      intenrnalLogFile="${basedir}/logs/nlog-internal.log"
      >

  <!-- enable asp.net core layout renders -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the target to write to -->
  <targets>
    <!-- write log to file -->
    <!-- For debug - ...\bin\Debug\net8.0\Logs\... -->
    <target xsi:type="File" name="allFile" 
            fileName="${basedir}/Logs/nlog_all_${date:format=yyyyMMdd}.log"
            layout="${aspnet-request-ip}|${longdate}|${uppercase:${level}}|${logger}|${message}"                                    
            maxArchiveDays="14"
            />

    <target xsi:type="File" name="exceptions" fileName="${basedir}/Logs/nlog_exceptions_${date:format=yyyyMMdd}.log"
            layout="${aspnet-request-ip}|${longdate}|${uppercase:${level}}|${logger}|${message}"
            deleteOldFileOnStartup="true"
            maxArchiveDays="30"
            />

    <target xsi:type="File" name="errors" fileName="${basedir}/Logs/request-errors{date:format=yyyyMMdd}.log"
            layout="${aspnet-request-ip}|${longdate}|${uppercase:${level}}|${logger}|${message}"
            deleteOldFileOnStartup="true"
            maxArchiveDays="30"
            />

  </targets>

  <!-- rules to map from Microsoft -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allFile" />
    
    <!-- Error logs only -->
    <logger name="nopCommerceApi.Middleware.ErrorHandlingMiddleware" minlevel="Error" writeTo="errors" />
    
    <!-- in namespace nopCommerceApi -->
    <logger name="nopCommerceApi.*" minlevel="Error" writeTo="exceptions" />
    
  </rules>
</nlog>